@charset "utf-8";
html,body{
	height: 100vh;
}
img{
	max-width: 100vh;
}
h1{
	font-family:'Allerta Stencil', sans-serif;
}
@media(max-width:575px){
	.backimg{
		background-image:url(../images/12.jpg);
		background-repeat:repeat-x;
		background-attachment:fixed;
		background-position:center center;
		background-size:cover;
		position:relative;
		height:320px;
		width:100%;
		margin-bottom:2rem;
	}
	.backimgs{
		background-image:url(../images/another1.jpg);
		background-repeat:repeat-x;
		background-attachment:fixed;
		background-position:center center;
		background-size:cover;
		position:relative;
		height:270px;
		width:100%;
		margin-bottom:2rem;
	}
	.heading{
		position:absolute;
		top:300px;
		left:400px;
		color:#F56916;
		font-weight:bold;
	}
	.heading:hover{
		color:#fff;
	}
	.dropmenu{
		color:#fff;
		padding:0.2rem;
		border:1px solid #ccc;
		border-radius:0.2rem;
		font-size:1.2rem;
	}
	.mynav a.navbar-brand{
		font-size:1.2rem;
		font-weight:600;
		color:#fff;
		margin-top:-0.8rem; 
	}
	.carousel-item img{
		max-height:8rem;
	}
	.header{
		text-align:center;
	}
	.about-velas{
		background:none;
	}
	.awards-small{
		font-size:14px;
	}
}
@media(min-width:576px) and (max-width:767px){
	.backimg{
		background-image:url(../images/12.jpg);
		background-repeat:repeat-x;
		background-attachment:fixed;
		background-position:top center center;
		background-size:cover;
		position:relative;
		height:650px;
		width:100%;
		margin-bottom:2rem;
	}
	.backimgs{
		background-image:url(../images/12.jpg);
		background-repeat:repeat-x;
		background-attachment:fixed;
		background-position:center center;
		background-size:cover;
		position:relative;
		height:350px;
		width:100%;
		margin-bottom:2rem;
	}
	.heading{
		position:absolute;
		top:300px;
		left:400px;
		color:#F56916;
		font-weight:bold;
	}
	.heading:hover{
		color:#fff;
	}
	.header{
		text-align:center;
	}
	.about-velas{
		background:#d49194;
	}
}
@media(min-width:768px) and (max-width:991px){
	.backimg{
		background-image:url(../images/12.jpg);
		background-repeat:repeat-x;
		background-attachment:fixed;
		background-position:top center center;
		background-size:cover;
		position:relative;
		height:650px;
		width:100%;
		margin-bottom:2rem;
	}
	.backimgs{
		background-image:url(../images/12.jpg);
		background-repeat:repeat-x;
		background-attachment:fixed;
		background-position:center center;
		background-size:cover;
		position:relative;
		height:350px;
		width:100%;
		margin-bottom:2rem;
	}
	.card-box{
		width:70%;
		position:absolute; 
		top:300px;
		left:80px;
		background:rgba(34,34,34,0.8);
		color:#fff;
	}
	.text{
		width:90%;
		text-align:center;
		overflow:hidden;
		height:11rem;
	}
	.discount{
		width:35%;
		float:left;
	}
	.discount1{
		width:65%;
		float:left;
	}
	.discount1 p{
		font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		font-size:2rem;
		padding:2rem;
	}
	.text-discount{
		color:rgba(255,255,255,0.7);
	}
	.text-shade{
		color:rgba(253,149,15,0.6);
	}
	.heading{
		position:absolute;
		top:300px;
		left:400px;
		color:#F56916;
		font-weight:bold;
	}
	.heading:hover{
		color:#fff;
	}
	.header{
		text-align:center;
	}
	.about-velas{
		background:#d49194;
	}
}
@media(min-width:992px) and (max-width:1199px){
	.backimg{
		background-image:url(../images/12.jpg);
		background-repeat:repeat-x;
		background-attachment:fixed;
		background-position:top center center;
		background-size:cover;
		position:relative;
		height:650px;
		width:100%;
		margin-bottom:2rem;
	}
	.backimgs{
		background-image:url(../images/12.jpg);
		background-repeat:repeat-x;
		background-attachment:fixed;
		background-position:center center;
		background-size:cover;
		position:relative;
		height:350px;
		width:100%;
		margin-bottom:2rem;
	}
	.heading{
		position:absolute;
		top:300px;
		left:400px;
		color:#F56916;
		font-weight:bold;
	}
	.heading:hover{
		color:#fff;
	}
	.header{
		text-align:center;
	}
	.about-velas{
		background:#d49194;
	}
}
@media(min-width:1200px){
	.backimg{
		background-image:url(../images/12.jpg);
		background-repeat:repeat-x;
		background-attachment:fixed;
		background-position:top center center;
		background-size:cover;
		position:relative;
		height:650px;
		width:100%;
		margin-bottom:2rem;
	}
	.backimgs{
		background-image:url(../images/12.jpg);
		background-repeat:repeat-x;
		background-attachment:fixed;
		background-position:center center;
		background-size:cover;
		position:relative;
		height:490px;
		width:100%;
		margin-bottom:2rem;
	}
	.carousel-item img{
		max-height:30rem;
	}
	.heading{
		position:absolute;
		top:300px;
		left:460px;
		color:#F56916;
		font-weight:bold;
	}
	.heading:hover{
		color:#fff;
	}
	.header{
		text-align:center;
	}
	.about-velas{
		background:#d49194;
	}
}
	
.collapse.navbar-collapse ul li a.nav-link{
	color:#fff; 
	font-size:1.2rem;
}
.collapse.navbar-collapse ul li.active a.nav-link{
	color:#fff; 
}
.mynav a.navbar-brand{
	color:#fff;
	font-size:2rem;
}
.collapse.navbar-collapse ul li a.nav-link:hover{
	color:#F56916;
}
.mynav a.navbar-brand:hover{
	color:#F56916;
}
.card-box{
	width:70%;
	position:absolute; 
	top:400px;
	left:80px;
	background:rgba(34,34,34,0.8);
	color:#fff;
}
.text{
	width:90%;
	text-align:center;
	overflow:hidden;
	height:11rem;
}
.discount{
	width:35%;
	float:left;
}
.discount1{
	width:65%;
	float:left;
}
.discount1 p{
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size:2rem;
	padding:2rem;
}
.text-discount{
	color:rgba(255,255,255,0.7);
}
.text-shade{
	color:rgba(253,149,15,0.6);
}
.space{
	padding-top:2rem;
}
#showcase{
	padding:2rem 0;
	background:#92d5f0;
}
#section-groups{
	padding:2rem;
}
.space-below{
	padding-top:4rem;
	background:#d49194;
}
.heading-gallery{
	font-size:1.2rem;
}
.item i{
	color:#FB8919;
	padding:1.2rem 0;
}
.item{
	font-size:0.8rem;
	padding:1rem 0.7rem;
	border-right:1px solid #CCC;
}
.item:last-child{
	border-right:0; 
}
#footer-main{
	background:rgba(34,34,34,0.6);
	color:#fff;
	font-size:0.8rem;
	padding:2.5rem 0;
}
.social ul li a{
	color:#fff;
}
.social ul li a:hover{
	color:#000;
}
.social ul li{
	padding:0.5rem;
}
.header{
	text-align:center;
}
.spacee{
	margin-top:60px;
}
.spacee1{
	margin-top:90px;
}
.collaborators{
	background: #0e445a;
	color:#fff;
	text-align:center;
	top:-40px;
}
.underline{
	border-bottom:1px solid #ccc;
}
.fa-star{
	color:#25B4F0
}
.glass{
	background:rgba(34,34,34,0.6);
	color:#fff;
}
.contact{
	padding:50px 0 80px;
	text-align:center;
}
.contact p{
	padding-bottom:80px;
	color:#737373;
}
.contact h2{
	color:#4c4c4c;
	margin:20px 0 20px;
}
.contact .input-group{
	margin-bottom:25px;
}
.contact .form-control{
	border-radius:0 !important;
}
.contact span{
	border-radius:0 !important;
}
.contact .btn{
	border-radius:0;
	width:100%;
	font-size:15px;
	background-color:#f08080;
	color:#fff;
}
.contact .btn:hover{
	background-color:#a85959;
	color:#fff !important;
}